<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header" ui-sref-active="active">
      <a class="navbar-brand" ui-sref="home">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ng-repeat="state in ::states">
          <a ui-sref="{{ ::state.name }}">{{ ::state.label }}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ ::date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
