ng-message.help-block(when="required") The value is required.
ng-message.help-block(when="minlength") The value is too short.
ng-message.help-block(when="email") Your e-mail does not conform to the standard e-mail format.